html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

.centered {

  line-height: 200px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  text-align:center;
}
 #time {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -6.3rem;
   font-family: 'Raleway', sans-serif;
   font-size: 7vh;
 }
 #day {
   position: absolute;
   font-family: 'Fjalla One', sans-serif;
   font-size: 2.5vh;
   text-align:center;
 }
